<section class="container">

<img src="/img/kiev-02.jpg" class="about-image" width="400" style="float:right" >


<h1>Герої паркування</h1>

<p class="text-justify">Паркування у такому великому місті як Київ – це комплексне питання. Та для нього можна виділити два основні фактори:
<ol>
<li>Безвідповідальне відношення деяких водіїв до паркування свого авто.</li>
<li>Об’єктивна нестача паркомісць в окремих районах міста.</li>
</ol>
	Проект “Герої Паркування” працює за обома напрямками.
</p>

<p class="text-justify">З безвідповідальними водіями ведеться інформаційна робота з метою попередження порушень. Користувачі фотографують неналежним чином припарковані автомобілі, завантажують їх фото та голосують за свого “Героя Паркування”.
Переможець нагороджується профілактичною бесідою в ДАЇ для роз’яснення правил паркування транспортних засобів.
</p>

<p class="text-justify">Разом з цим наша команда юристів веде роботу з місцевими органами влади стосовно збільшення кількості місць для паркування, працює над законодавчою базою в даній сфері. До обговорення активно залучається громадськість та використовується накопичена проектом інформація щодо потреб водіїв.
</p>
<p class="text-justify">Якщо тобі небайдуже наше місто, долучайся до нас: <strong>parkinghero.in.ua@gmail.com</strong></p>
</section>
