<section class="container">

<img src="/img/aabout-img.jpg" width="340" class="about-image img-rounded">

<h1>Герої паркування</h1>

<br>
<p>
Як часто ви помічаєте, що авто припарковане у неналежному місці заважає вашому руху?
</p>
<br>
<p>Багато людей помітили, що сьогодні їм важко вільно рухатися тротуарами для пішоходів. Причина цьому — недбале ставлення водіїв до правил паркування.
Багато хто, припаркувавши авто на тротуарі навіть не замислюється над тим, чи не заважатиме це жінці з дитиною, або літньому чоловіку..
</p>
<br>

<p>Мета нашого проекту - зробити рух на вулицях вашого міста зручніше.
Ми хочемо звернути увагу водіїв на їх недбалі вчинки та допомогти держави покарати порушників, що паркують авто «де їм заманеться».
</p>

	Якщо ви обурені вчинком водія, який недбало припаркував своє авто: 

<ol>
	<li>Cфотографуйте авто порушника, </li>
	<li>Заповніть форму</li>
	<li>Завантажте фото</li>
</ol>

Наші кваліфіковані юристи оброблять вашу скаргу, і в разі, якщо ваша скарга є доцільною — порушник буде покараний згідно законодавства нашої країни.
	
	Ми сподіваємося, що загальними зусиллями ми зможемо вирішити проблему паркування.

</section>
