<section class="container">
	<table  data-toggle="table" data-url="<%- apiUrl %>/rating/lawyers" data-sort-name="closedIssuesQuauntity" data-sort-order="desc">
	    <thead>
	        <tr>
	            <th data-field="name" data-align="right" data-sortable="true">Ім’я</th>
	            <th data-field="closedIssuesQuauntity" data-align="center" data-sortable="true">Закрито заявок</th>
	            <th data-field="assignedIssuesQuauntity" data-align="center" data-sortable="true">Заявок в роботі</th>
	            <th data-field="processingIssuesQuauntity" data-align="center" data-sortable="true">Заявок в черзі</th>
	            <th data-field="registrationDate" data-align="center" data-sortable="false" data-formatter="formatLTDate">Дата реєстрації</th>
	        </tr>
	    </thead>
	</table>
</section>

<script type="text/javascript">
	function formatLTDate(value) {
		return moment(value).format('DD.MM.YYYY');
	}
</script>
